@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
body {
    background:linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
  }

.signup-form {
    font-family: 'Poppins', sans-serif;
  width:650px;
  margin:60px auto;
  background: linear-gradient(to right,#3a6186,#89253e);
  
  border-radius: 10px;
  box-shadow: 0 0 20px 3px #9afbfa;
}

 
.form-header  {
    background: linear-gradient(to right,#3a6186,#89253e);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.8s;
  border-top: 1px solid linear-gradient(to-right,#200122,#6f0000);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.form-header:hover {
    background-color: #29b693;
    color:white;
    transform: scale(1.1);
}
.form-header h1 {
  font-size: 30px;
  text-align:center;
  color:rgb(36, 33, 33);
  padding:20px 0;
  border-bottom:1px solid #cccccc;
}

.form-body {
  padding:40px 40px;
  color:#666;
}

.form-group{
  margin-bottom:20px;
}

.form-body .label-title {
  color:#1BBA93;
  font-size: 17px;
  font-weight: bold;
}

.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background:transparent;
    outline: none;
}





::-webkit-input-placeholder  {
  color:#d9d9d9;
}
 
.signup-form .form-footer  {
  background:linear-gradient(to-right,#200122,#6f0000);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  padding:10px 40px;
  text-align: right;
  border-top: 1px solid #cccccc;
  clear:both;
}

.form-footer span {
  float:left;
  margin-top: 10px;
  color:#999;  
  font-style: italic;
  font-weight: thin;
}
  

.btn {
    width: 100px;
    height: 40px;
    padding:5px 20px;
   outline: none;
    font-size:2 rem;
    border:none;
     
    border-radius:100px;
    color:black;
    background:#1BBA93;
    transition: 3s all ease-out;
     
 }
 
 .btn:hover {
    
   color:rgb(147, 94, 190);
   cursor:pointer;
   background:#62178048;
 } 
 
 
  .link{
    text-align: center;
    padding-top: 15px ;
    padding-bottom: 1px;
}
.link a{
    text-decoration: none;
    color: black;
    transition: opacity .7s ease;


}
.link a:hover{
    color:rgb(36, 231, 199);

}
a:link, a:visited {
    background: transparent;
    color: white;
    padding: 14px 25px;
    text-align:left;
    text-decoration: none;
    display: inline-block;
    
    border:none;
    
  }
  
  a:hover, a:active {
    background:transparent;
  }